.projects-page {
    padding-top: 100px;
}

.section-subtitle-center {
    color: var(--text-muted);
    text-align: center;
    max-width: 600px;
    margin: -3rem auto 5rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-card-full {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-img-container {
    width: 100%;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    transition: var(--transition);
}

.project-card-full:first-child .project-img-container {
    border: 2px solid #a5b4fc;
}

.project-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-cat {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.project-detail h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}